<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{page.title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{page.title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>Dark mode</ion-label>
      <ion-toggle [(ngModel)]="dark" (ionChange)="updateDarkMode()"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>